$myHeight: 100vh;
$myAnimationTimingFunction: ease-out;
$display: flex;
$alignItems: center;
$justifyContent: center;
//variables de colores
$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;
$color6: white;
