@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");

//variables
$myHeight: 100vh;
$myAnimationTimingFunction: ease-out;
$display: flex;
$alignItems: center;
$justifyContent: center;
//variables de colores
$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;
$color6: white;

//mixins
@mixin important-text {
    font-size: 3.5vw;
    font-weight: 300;
    color: $color6;
    font-family: "Lato";
}

@mixin animation($backgroundColor, $animationName, $animationDuration, $myAnimationTimingFunction){
    background-color: $backgroundColor;
    animation-name: $animationName;
    animation-duration: $animationDuration;
    animation-timing-function: $myAnimationTimingFunction;
}

@mixin flexCenter($display, $alignItems, $justifyContent){
    display: $display;
    align-items: $alignItems;
    justify-content: $justifyContent;
}



/* general */
* {
  box-sizing: border-box;
}

html body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 10px 0 0 0;
}

h1 {
  @include important-text;
}

/* strips */
.strips {
  height: $myHeight;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  cursor: pointer;
}
.strips .strip {
  @include flexCenter($display, $alignItems, $justifyContent);
  position: relative;
  width: 19.9vw;
  margin: 0.1vw;
  height: $myHeight;
  text-align: center;
  overflow: hidden;
}
.strips .strip .strip_content {
  @include flexCenter($display, $alignItems, $justifyContent);
  position: absolute;
  height: $myHeight;
  width: 100%;
  text-align: center;
}

/* before */
.strips .strip_content:before {
  content: "";
  @include flexCenter($display, $alignItems, $justifyContent);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20vw;
  height: $myHeight;
  background: $color6;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.strips .strip_content:hover:before {
  -webkit-transform: skew(0deg) scaleX(2) translate(0, 0);
  transform: skew(0deg) scaleX(2) translate(0, 0);
  opacity: 0.2;
}

/* strips 1-5: nth-child 1-5 */
.strip:nth-child(1) .strip_content {
    @include animation($color1, strip--u4rx9pe, 0.5s, $myAnimationTimingFunction);
}
@keyframes strip--u4rx9pe {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

.strip:nth-child(2) .strip_content {
    @include animation($color2, strip--u4rx9pg, 0.8s, $myAnimationTimingFunction); 
}
@keyframes strip--u4rx9pg {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

.strip:nth-child(3) .strip_content {
    @include animation($color3, strip--u4rx9q8, 0.7s, $myAnimationTimingFunction); 
}
@keyframes strip--u4rx9q8 {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

.strip:nth-child(4) .strip_content {
    @include animation($color4, strip--u4rx9qn, 1s, $myAnimationTimingFunction); 
}
@keyframes strip--u4rx9qn {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

.strip:nth-child(5) .strip_content {
    @include animation($color5, strip--u4rx9r0, 1.1s, $myAnimationTimingFunction); 
}
@keyframes strip--u4rx9r0 {
  from {
    transform: translate3d(100%, 0, 0);
  }
}